<nav class="nav" aria-label="Main">
  <a href="/"><img src="/assets/images/branding/AG Favicon Light on Dark.svg" alt="Azadi Gathui, home" class="logo" loading="eager"></a>
  <ul class="nav-ul">
    {% for item in navigation %}
    <li class="nav-li"><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</nav>
