<nav class="nav">
  <a href="/"><img src="/assets/images/branding/AG Favicon Light on Dark.svg" alt="Azadi Gathui logo" class="logo"></a>
  <ul class="nav-ul">
    <li class="nav-li"><a href="/resume/" style="text-decoration: none;">Resume</a></li>
    <li class="nav-li"><a href="/lab/" style="text-decoration: none;">Lab</a></li>
  </ul>
</nav>
